body.start-page {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 600px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.btn {
    background-color: #fff;
    color: #ff416c;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff4b2b;
    color: #fff;
}